@import 'utils/_mixins';
@import 'utils/_variables.scss';
@import 'base/_reset.scss';
@import 'utils/_keyframes.scss';

// Header
header {
    .header__logo {
        display: flex;
        justify-content: center;
        padding: 14px 0 5px 0;
        .header__logo-image {
          height: 44px;
          width: 162px;
        }
    }
  
    .header__location {
      @include flex-center;
      gap: 17px;
      background-color: #EAEAEA;
      padding: 15.5px 0;
      @include box-shadow($shadow-small);
  
      i.fa-location-dot {
        color: #353535;
      }
  
      h2 {
        @include font(null, 16px, 500);
        color: #353535;
      }
    }
  }
  
  // Explorer restaurants
  .exploration {
    @include flex-center(column, center, center);
    text-align: center;
    padding: 39px;
    padding-bottom: 57px;
    background-color: $main-bg-color;
  
    h3 {
      @include font(null, 24px, 700, 28.13px);
    }
  
    .exploration__button {
      margin-top: 27px;
      display: flex;
      background: linear-gradient(0deg, $main-color -11.44%, #FF79DA 123.93%);
      padding: 13px 18.75px;
      border-radius: 25px;
      color: white;
      cursor: pointer;
      @include font(null, null, 500, 18.75px);
      @include box-shadow($shadow-small);
      transition: all 0.8s ease-in-out;

      &:hover {
        animation: opacityAnimation 0.8s forwards;
      }
    }
  }


  
  // Fonctionnement

  .functionality {
    
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 48px 0px 26px 20px;
    }
  
    .functionality__step {
      position: relative;
      background-color: $main-bg-color;
      border-radius: 15px;
      padding: 25px 25px 25px 33px;
      margin: 20px;
      margin-left: 32.50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
  
      .functionality__step-number {
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color; 
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
  
        span {
          display: inline-block;
          line-height: 35px;
        }
      }
  
      .functionality__step-content {
        display: flex;
        align-items: center;
        color: #333;
  
        i {
          margin-right: 20px;
          color: $icon-color;
          font-size: 20px;
        }
  
        p {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          line-height: 18.75px;
        }
      }
    }
  }
  
  // Restaurants

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 48px 0px 26px 20px;
  }
  .restaurants {
    background-color: $main-bg-color;

  .restaurants__card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include box-shadow($shadow-small);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 18px;
  
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
  
    .card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px;
  
      .restaurants__card-text {
        @include flex-center(column, flex-start, flex-start);
  
        .restaurants__card-title {
          @include font(null, 18px, 700);
          margin: 0;
        }
  
        .restaurants__card-subtitle {
          @include font(null, 14px, 400);
          margin: 0;
        }
      }
  
      .restaurants__card-like {
        font-size: 21px;
        color: #101010;

        i {
          cursor: pointer;
          display: inline-block;
  
          &:hover {
            color: #333;
          }
        }
      }
    }
  
    .restaurants__card-ribbon {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #99e2d0;
      padding: 7px 9px 6px 9px;
      border-radius: 5px;
      @include font('Roboto', 14px, 500, 16.41px);
      color: #008766;
      @include box-shadow($shadow-large);
    }
  }
  }
  
  // Footer
  .footer__content {
    background-color: #333;
    color: white;
    padding: 25px;
    width: 100%;
    font-family: Arial, sans-serif;
  
    .footer__logo {
      h5 {
        @include font($font-secondary, 18px, 400, 26.24px, italic);
        margin-bottom: 16px;
      }
    }
  
    .footer__links {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin: 10px 0;
        align-items: center;
        font-size: 14px;
  
        i {
          margin-right: 8px;
          font-size: 16px;
        }
        
        &:last-child {
          margin-top: 15px;
          margin-bottom: 0px;
        }
      }
    }
  }


// Media queries

@media (min-width: 1024px) {
  .restaurants__card {
      width: 34%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 82px;
    row-gap: 32px;
  }
}