@import 'utils/_mixins';
@import 'utils/_variables.scss';
@import 'base/_reset.scss';
@import 'utils/_keyframes.scss';

// Header
header {
    .header__logo {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        padding: 14px 0 5px 0;
        @include box-shadow($shadow-small);

        .header__logo-image {
          height: 44px;
          width: 162px;
        }
    }
  
    .header__location {
      position: relative; 
      @include flex-center;
      gap: 17px;
      background-color: #EAEAEA;
      padding: 15.5px 0;
      @include box-shadow($shadow-small);
  
      i.fa-location-dot {
        color: #353535;
      }
  
      h2 {
        @include font(null, 16px, 500);
        color: #353535;
      }
    }
  }
  
  // Explorer restaurants
  .exploration {
    @include flex-center(column, center, center);
    text-align: center;
    padding: 39px;
    padding-bottom: 57px;
    background-color: $main-bg-color;
  
    h3 {
      @include font(null, 24px, 700, 28.13px);
      margin: 0px 0px 12px 0px;
    }
  
    .exploration__button {
      margin-top: 27px;
      display: flex;
      background: linear-gradient(0deg, $main-color -11.44%, #FF79DA 123.93%);
      padding: 13px 18.75px;
      border-radius: 25px;
      color: white;
      cursor: pointer;
      @include font(null, null, 500, 18.75px);
      @include box-shadow($shadow-small);
      transition: all 0.8s ease-in-out;

      &:hover {
        animation: opacityAnimation 0.8s forwards;
      }
    }
  }


  
  // Fonctionnement

  .functionality {
    
    h3 {
      font-size: 24px;
      font-weight: 700;
      margin: 48px 0px 26px 20px;
    }
  
    .functionality__step {
      position: relative;
      background-color: $main-bg-color;
      border-radius: 15px;
      padding: 25px 25px 25px 33px;
      margin: 20px;
      margin-left: 32.50px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
  
      .functionality__step-number {
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-color; 
        color: #fff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
  
        span {
          display: inline-block;
          line-height: 35px;
        }
      }
  
      .functionality__step-content {
        display: flex;
        align-items: center;
        color: #333;
  
        i {
          margin-right: 20px;
          color: $icon-color;
          font-size: 20px;
        }
  
        p {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
          line-height: 18.75px;
        }
      }
    }
  }
  
  // Restaurants

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 48px 0px 26px 20px;
  }
  .restaurants {
    background-color: $main-bg-color;

  .restaurants__card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    @include box-shadow($shadow-small);
    display: flex;
    flex-direction: column;
    margin: 18px;
  
    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
    }
  
    .card-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 13px;
  
      .restaurants__card-text {
        @include flex-center(column, flex-start, flex-start);
  
        .restaurants__card-title {
          @include font(null, 18px, 700);
          margin: 0;
        }
  
        .restaurants__card-subtitle {
          @include font(null, 14px, 400);
          margin: 0;
        }
      }
  
      .restaurants__card-like {
        position: relative;
        font-size: 21px;
        color: #101010;

        i {
          cursor: pointer;
          display: inline-block;
  
          &:hover {
            color: #333;
          }
        }
      }
    }
  
    .restaurants__card-ribbon {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #99e2d0;
      padding: 7px 9px 6px 9px;
      border-radius: 5px;
      @include font('Roboto', 14px, 500, 16.41px);
      color: #008766;
      @include box-shadow($shadow-large);
    }
  }
  }


  a {
    box-shadow: none;
  }

  
  // Footer
  .footer__content {
    background-color: #333;
    color: white;
    padding: 25px;
    width: 100%;
    font-family: Arial, sans-serif;
  
    .footer__logo {
      h5 {
        @include font($font-secondary, 18px, 400, 26.24px, italic);
        margin-bottom: 16px;
      }
    }
  
    .footer__links {
      list-style: none;
      padding: 0;
      margin: 0;
  
      li {
        margin: 7px 0;
        display: flex;
        align-items: center;
        font-size: 14px;
  
        i {
          margin-right: 4px;
          font-size: 13px;
        }
  
        &.fa-utensils i {
          width: 11px;
          height: 13px;
        }
  
        &.fa-handshake-angle i {
          width: 11.92px;
          height: 13px;
        }
      }
    }
  }
  

// Animations pour page restaurants

.flash__animation {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: flashAnimation 4s forwards;
}

// Animation coeur

#heart-toggle {
  display: none;
}

.restaurants__card-like label i {
  transition: color 0.3s ease;
  background-clip: text;
  cursor: pointer;
}

#heart-toggle:checked + .restaurants__card-like label i {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  color: transparent;
  content: "\f004";
}

// Loader animation

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999;
  animation: fadeOut 2s ease 1s forwards;
}

/* Loader animation */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid $main-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite, fadeOut 1s ease 1s forwards;
}


// Media queries

@media (min-width: 1024px) {

  .functionality h3, h3 {
    padding: 30px 0px 0px 180px;
    margin: 0px
  }

  .exploration h3 {
    padding: 0;
  }

  .restaurants h3 {
    margin-top: 48px;
  }

  .restaurants__card {
      width: 100%;
      height: auto;

  }
  .restaurants {
    padding-bottom: 12px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    row-gap: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .functionality__media {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: 150px;
  margin-right: 207px;
  gap: 24px;

    .functionality__step {
      width: 100%;
    }
  }

  .footer__content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
  }

  .footer__logo {
    order: 2;
  }

  .footer__content .footer__logo h5 {
    margin-bottom: 0px;
  }

  .footer__links {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
  }

}