* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  font-size: 100%;
  line-height: 1.5;
  color: #000000;
  background-color: #fff;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes flashAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.loader-container:after {
  content: "";
  display: none;
  animation: showContent 2s ease 2s forwards;
}

@keyframes showContent {
  to {
    display: block;
  }
}
.content {
  animation: show 0s ease 4s forwards;
}

@keyframes show {
  100% {
    display: block;
  }
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header .header__logo {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 14px 0 5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .header__logo .header__logo-image {
  height: 44px;
  width: 162px;
}
header .header__location {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  padding: 15.5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
header .header__location i.fa-location-dot {
  color: #353535;
}
header .header__location h2 {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #353535;
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 39px;
  padding-bottom: 57px;
  background-color: #f6f6f6;
}
.exploration h3 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 28.13px;
  margin: 0px 0px 12px 0px;
}
.exploration .exploration__button {
  margin-top: 27px;
  display: flex;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 13px 18.75px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-style: normal;
  line-height: 18.75px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 0.8s ease-in-out;
}
.exploration .exploration__button:hover {
  animation: opacityAnimation 0.8s forwards;
}

.functionality h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0px 26px 20px;
}
.functionality .functionality__step {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 25px 25px 25px 33px;
  margin: 20px;
  margin-left: 32.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.functionality .functionality__step .functionality__step-number {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
.functionality .functionality__step .functionality__step-number span {
  display: inline-block;
  line-height: 35px;
}
.functionality .functionality__step .functionality__step-content {
  display: flex;
  align-items: center;
  color: #333;
}
.functionality .functionality__step .functionality__step-content i {
  margin-right: 20px;
  color: #7E7E7E;
  font-size: 20px;
}
.functionality .functionality__step .functionality__step-content p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 18.75px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 48px 0px 26px 20px;
}

.restaurants {
  background-color: #f6f6f6;
}
.restaurants .restaurants__card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  margin: 18px;
}
.restaurants .restaurants__card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .restaurants__card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
}
.restaurants .restaurants__card .card-content .restaurants__card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.restaurants .restaurants__card .card-content .restaurants__card-text .restaurants__card-title {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  margin: 0;
}
.restaurants .restaurants__card .card-content .restaurants__card-text .restaurants__card-subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.restaurants .restaurants__card .card-content .restaurants__card-like {
  position: relative;
  font-size: 21px;
  color: #101010;
}
.restaurants .restaurants__card .card-content .restaurants__card-like i {
  cursor: pointer;
  display: inline-block;
}
.restaurants .restaurants__card .card-content .restaurants__card-like i:hover {
  color: #333;
}
.restaurants .restaurants__card .restaurants__card-ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  padding: 7px 9px 6px 9px;
  border-radius: 5px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16.41px;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

a {
  box-shadow: none;
}

.footer__content {
  background-color: #333;
  color: white;
  padding: 25px;
  width: 100%;
  font-family: Arial, sans-serif;
}
.footer__content .footer__logo h5 {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 26.24px;
  margin-bottom: 16px;
}
.footer__content .footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__content .footer__links li {
  margin: 7px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.footer__content .footer__links li i {
  margin-right: 4px;
  font-size: 13px;
}
.footer__content .footer__links li.fa-utensils i {
  width: 11px;
  height: 13px;
}
.footer__content .footer__links li.fa-handshake-angle i {
  width: 11.92px;
  height: 13px;
}

.flash__animation {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation: flashAnimation 4s forwards;
}

#heart-toggle {
  display: none;
}

.restaurants__card-like label i {
  transition: color 0.3s ease;
  -webkit-background-clip: text;
          background-clip: text;
  cursor: pointer;
}

#heart-toggle:checked + .restaurants__card-like label i {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  content: "\f004";
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 9999; /* Ensure it's on top of everything */
  animation: fadeOut 2s ease 1s forwards; /* Fade out after 2 seconds */
}

/* Loader animation */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9356DC;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite, fadeOut 1s ease 1s forwards;
}

@media (min-width: 1024px) {
  .functionality h3, h3 {
    padding: 30px 0px 0px 180px;
    margin: 0px;
  }
  .exploration h3 {
    padding: 0;
  }
  .restaurants h3 {
    margin-top: 48px;
  }
  .restaurants__card {
    width: 100%;
    height: auto;
  }
  .restaurants {
    padding-bottom: 12px;
  }
  .restaurants__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px; /* Spacing between cards */
    row-gap: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .functionality__media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 207px;
    gap: 24px;
  }
  .functionality__media .functionality__step {
    width: 100%;
  }
  .footer__content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
  }
  .footer__logo {
    order: 2;
  }
  .footer__content .footer__logo h5 {
    margin-bottom: 0px;
  }
  .footer__links {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}/*# sourceMappingURL=styles.css.map */