@keyframes opacityAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.8;
    }
  }

  @keyframes flashAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }    
  }