// Variables
$main-color: #9356DC;
$main-bg-color: #f6f6f6;
$secondary-bg-color: #FFFFFF;
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', sans-serif;
$shadow-small: 0px 4px 4px 0px #00000040;
$shadow-medium: 0px 4px 15px 0px #00000026;
$shadow-large: 0px 2px 4px 0px #00000026;